.text {
  width: 100%;
  text-align: left;
  border-bottom: 1px solid var(--primary-color);
  line-height: 0.1em;
  margin-bottom: 3rem;
  color: var(--secondary-color);
  background-color: var(--highlighter);
}

.text span {
  padding-right: 1rem;
  background-color: var(--highlighter);
  font-weight: var(--bold-font);
}

span.number {
  color: var(--primary-color);
  font-weight: 100;
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
}
