.container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.welcome_text {
  margin-bottom: 2rem;
}
.salutation {
  color: var(--primary-color);
  margin-bottom: 1rem;
}
.name {
  font-size: 2rem;
  color: var(--secondary-color);
  margin-bottom: 1rem;
}
.main_container {
  height: 5rem;
}
.main_tag {
  color: var(--secondary-color);
  font-size: 1.5rem;
  /* opacity: 0.7; */
  max-width: 55rem;
}
.highlight {
  text-decoration: solid;
  color: var(--primary-color);
  opacity: 1;
  font-weight: var(--bold-font);
  background-color: var(--highlighter);
}
.main_tag div {
  display: inline;
}

@media (min-width: 768px) {
  .welcome_text {
    margin-bottom: 2rem;
  }
  .name {
    font-size: 4rem;
  }
  .main_container {
    height: 7rem;
  }
  .main_tag {
    font-size: 3rem;
  }
}
