.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.welcome_text {
  margin-bottom: 2rem;
}
.salutation {
  margin-bottom: 1rem;
}
.name {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-decoration: underline;
  text-decoration-color: var(--highlighter);
  text-decoration-thickness: 3px;
}
.main_container {
  height: 5rem;
}
.main_tag {
  font-size: 1.5rem;
  max-width: 55rem;
}
.highlight {
  text-decoration: solid;
  opacity: 1;
  background-color: var(--highlighter);
}
.main_tag div {
  display: inline;
}

@media (min-width: 768px) {
  .container {
    width: 100%;
  }
  .welcome_text {
    margin-bottom: 2rem;
  }
  .name {
    font-size: 4rem;
  }
  .main_container {
    height: 7rem;
  }
  .main_tag {
    font-size: 3rem;
  }
}
