.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  max-width: 30rem;
}

.icon {
  margin-right: 0.5rem;
}

.skill {
  margin-bottom: 0.1rem;
  text-decoration: underline;
  text-decoration-color: var(--highlighter);
  text-decoration-thickness: 3px;
}
