.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  max-width: 30rem;
}

.icon {
  color: var(--first-color);
  margin-right: 0.5rem;
}

.skill {
  margin-bottom: 0.1rem;
}
