.container {
  margin-bottom: 5rem;
  min-height: 27rem;
}

.exp_container {
  display: flex;
  overflow-x: auto;
  align-items: center;
  scroll-behavior: smooth;
}

.exp_name {
  min-width: 12rem;
  padding: 1rem 2rem;
  text-align: center;
  border-bottom: 1px solid var(--hover-background);
  cursor: pointer;
}

.exp_name:hover {
  background-color: var(--hover-background);
  transition: background-color 0.3s;
}

.selected {
  border-bottom: 1px solid var(--primary-color);
  background-color: var(--hover-background);
}

.details {
  padding: 1rem 0.5rem;
}
.title {
  margin-bottom: 1rem;
  text-decoration: underline;
  text-decoration-color: var(--highlighter);
  text-decoration-thickness: 3px;
}

.description {
  display: flex;
  flex-direction: row;
}
.icon {
  margin-right: 0.5rem;
}
.text {
  width: 95%;
}

@media (min-width: 768px) {
  .container {
    display: flex;
    max-width: 50rem;
    margin: 0 auto;
    margin-bottom: 5rem;
  }
  .exp_container {
    flex-direction: column;
    min-width: 16rem;
    border-right: 1px solid var(--hover-background);
    overflow: hidden;
  }
  .exp_name {
    min-width: 16rem;
    padding: 2rem auto;
    text-align: center;
    border-right: 1px solid var(--hover-background);
    border-bottom: none;
    margin-bottom: 0;
  }
  .selected {
    border-bottom: none;
    border-right: 1px solid var(--primary-color);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .details {
    margin-left: 1rem;
  }
}
