.container {
  width: 1.5rem;
  position: fixed;
  bottom: 0;
  left: auto;
  right: 1.5rem;
  z-index: 10;
  color: var(--primary-color);
}
.next {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
}

.container::after {
  content: "";
  display: block;
  width: 1px;
  height: 6rem;
  margin: 0px auto;
  background-color: var(--primary-color);
  box-shadow: 2px 2px 1px var(--highlighter);
}

.socials {
  height: 1rem;
  width: 1rem;
  margin: 1rem;
  color: var(--primary-color);
  cursor: pointer;
}
@media (max-width: 768px) {
  .container {
    position: unset;
    bottom: auto;
    right: auto;
    z-index: 0;
    width: auto;
  }
  .next {
    flex-direction: row;
    justify-content: center;
  }
  .container::after {
    display: none;
  }
  .socials {
    height: 1.5rem;
    width: 1.5rem;
    margin: 1.5rem;
  }
}
