.container {
  width: 1.5rem;
  position: fixed;
  left: auto;
  right: 1.5rem;
  z-index: 10;
  opacity: 0;
  animation: nav-load 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
  animation-delay: 0.8s;
}
.next {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
}

.container::after {
  content: "";
  display: block;
  width: 1px;
  height: 6rem;
  margin: 0px auto;
  background-color: var(--primary-color);
  box-shadow: 2px 2px 1px var(--highlighter);
}
.visible_hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.visible_hidden:focus {
  clip: auto;
  height: auto;
  overflow: auto;
  position: absolute;
  width: auto;
}

.socials {
  height: 1rem;
  width: 1rem;
  margin: 1rem;
  cursor: pointer;
}
@media (max-width: 768px) {
  .container {
    position: unset;
    bottom: auto;
    right: auto;
    z-index: 0;
    width: auto;
  }
  .next {
    flex-direction: row;
    justify-content: center;
  }
  .container::after {
    display: none;
  }
  .socials {
    height: 1.5rem;
    width: 1.5rem;
    margin: 1.5rem;
  }
}

@keyframes nav-load {
  0% {
    bottom: 60px;
    opacity: 0;
  }
  100% {
    bottom: 0px;
    opacity: 1;
  }
}
