:root {
  --base-font: "Roboto", sans-serif;
  --background-color: #ffffff;
  --first-color: #2ec4b6;
  --second-color: #f7efe6;
  --third-color: #e5e5f7;
  /* color bookmarks https://designshack.net/articles/trends/best-website-color-schemes/ */
  --one: #abf62d;
  --two: #d6a3fb;
}
.highlight {
  color: var(--first-color);
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--first-color);
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--first-color);
}

h3 {
  font-size: 1.125rem;
}

p {
  font-size: 1rem;
}
