:root {
  --base-font: "Roboto", sans-serif;
  --bold-font: 500;
  --thin-font: 200;
  --background-color: #ffffff;
  /* initial colors */
  --primary-color: #64ffda;
  --secondary-color: #e5e5f7;
  --first-background: #0a192f;
  --second-background: #112240;
  --nav-background: rgba(10, 25, 47, 0.85);
  --hover-background: rgba(229, 229, 247, 0.1);
  --devider-color: rgba(255, 255, 255, 0.4);
  /* version 1 */
  --primary-color: #abf62d;
  --secondary-color: #d6a3fb;
  --first-background: rgb(20, 22, 25);
  --second-background: rgb(42, 46, 53);
  --nav-background: rgba(20, 22, 25, 0.85);
  --hover-background: rgba(229, 229, 247, 0.1);
  --devider-color: rgba(255, 255, 255, 0.4);
  /* version 2 */
  /* --primary-color: #009a03;
  --secondary-color: #141414;
  --first-background: rgb(255, 255, 255);
  --second-background: rgb(236, 236, 236);
  --nav-background: rgba(255, 255, 255, 0.85);
  --hover-background: rgba(229, 229, 247, 0.2);
  --devider-color: rgba(0, 0, 0, 0.4); */
  /* NO version 3 */
  /* --primary-color: #000000;
  --secondary-color: #590099;
  --first-background: rgb(160, 174, 205);
  --second-background: rgb(135, 148, 175);
  --nav-background: rgba(160, 174, 205, 0.85);
  --hover-background: rgba(229, 229, 247, 0.2);
  --devider-color: rgba(255, 255, 255, 0.4); */
  /* version 4 */

  --icon-filter: invert(79%) sepia(30%) saturate(679%) hue-rotate(107deg)
    brightness(109%) contrast(101%);
  /* color bookmarks https://designshack.net/articles/trends/best-website-color-schemes/ */
  --one: #abf62d;
  --two: #d6a3fb;
}
.highlight {
  color: var(--primary-color);
}

* {
  font-family: var(--base-font);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
  font-weight: var(--thin-font);
  scroll-behavior: smooth;
  scroll-margin-top: 7rem;
}
body {
  background-color: var(--first-background);
}

h1 {
  font-size: 2rem;
  font-weight: var(--bold-font);
  color: var(--primary-color);
}

h2 {
  font-size: 1.5rem;
  font-weight: var(--bold-font);
  color: var(--primary-color);
}

h3 {
  font-size: 1.4rem;
  color: var(--primary-color);
  font-weight: var(--bold-font);
}

p {
  font-size: 1rem;
  color: var(--secondary-color);
  margin-bottom: 1rem;
  line-height: 1.4;
  font-weight: var(--thin-font);
}
