.burger_menu {
  display: none;
}

.menu {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    margin: 0.5rem;
    align-items: center;
    justify-content: space-between;
  }
  .burger_logo {
    color: var(--first-color);
    width: 2rem;
    height: 2rem;
  }
  .burger_menu {
    display: block;
    cursor: pointer;
  }

  .menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--second-background);
    z-index: 1;
  }

  .menu.open {
    display: block;
  }
}
