.container {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
}
.card:first-of-type {
  padding-top: 0;
  border-top: none;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
  padding-top: 1rem;
  border-top: 1px solid var(--devider-color);
}
.headline {
  align-self: flex-end;
  text-align: right;
}
.featured {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}
.headline h3 {
  text-decoration: underline;
  text-decoration-color: var(--highlighter);
  text-decoration-thickness: 3px;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image_container {
  width: 90vw;
  height: auto;
  top: 0;
  left: 0;
  display: block;
  position: relative;
  margin: 1rem;
}
.image_container span {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-position: center;
}
.image_container:hover span {
  display: none;
}
.image {
  width: 100%;
  height: auto;
  box-shadow: 10px 10px var(--second-background);
  top: 0;
  left: 0;
}
.image_container:hover .image {
  filter: none;
}
.infos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.description {
  box-shadow: 0 10px 30px -15px var(--first-background);
  position: relative;
  z-index: 2;
  padding: 1rem;
  width: 90vw;
  background-color: var(--second-background);
  margin-top: 1rem;
}
.icons {
  display: flex;
  justify-content: flex-end;
}
.icons svg {
  height: 1.5rem;
  width: 1.5rem;
  margin: 0 0.5rem;
}
.visible_hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.visible_hidden:focus {
  clip: auto;
  height: auto;
  overflow: auto;
  position: absolute;
  width: auto;
}
@media (min-width: 768px) {
  .content {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(12, calc(100% / 12));
  }
  .left .headline {
    align-self: flex-start;
    text-align: left;
  }
  .infos {
    grid-row: 1;
    grid-column: 9 / span 4;
    align-items: flex-end;
  }
  .left .infos {
    grid-column: 1 / span 6;
    align-items: flex-start;
  }
  .description {
    width: 40vw;
  }
  .left .icons {
    justify-content: flex-start;
  }
  .image_container {
    width: 45vw;
    grid-row: 1;
    grid-column: 1 / span 3;
    justify-self: flex-start;
  }
  .left .image_container {
    grid-column: 10 / span 3;
    justify-self: flex-end;
  }
}
