.container {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}
.image_container {
  width: 90vw;
  height: auto;
  top: 0;
  left: 0;
  display: block;
  position: relative;
  margin: 1rem;
}
.image_container span {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  background-color: rgb(100, 255, 218, 0.4);
  background-position: center;
}
.image_container:hover span {
  display: none;
}

.image {
  width: 100%;
  height: auto;
  box-shadow: 10px 10px var(--second-background);
  filter: grayscale(100%) contrast(1) brightness(90%);
  top: 0;
  left: 0;
}

.image_container:hover .image {
  filter: none;
}
.infos {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.headline {
  align-self: flex-start;
}
.featured {
  font-size: 0.8rem;
  color: var(--first-color);
  margin-bottom: 0.5rem;
}
h3 {
  color: var(--third-color);
}
.description {
  box-shadow: 0 10px 30px -15px var(--first-background);
  position: relative;
  z-index: 2;
  padding: 1rem;
  width: 90vw;
  background-color: var(--second-background);
}
.tags {
  display: flex;
  color: var(--third-color);
  flex-wrap: wrap;
}
.tags p {
  margin: auto 1rem;
  background-color: var(--second-background);
}

@media screen and (min-width: 764px) {
  .card {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  .image_container {
    width: 40vw;
    grid-area: 0 / 6;
  }
  .image_container.left {
    grid-area: 6 / -1;
    grid-row: 1;
  }

  .headline {
    grid-column: 7 / -1;
    grid-row: 1;
    text-align: right;
  }
  .headline.left {
    grid-column: -1 / 1;
    text-align: left;
    grid-row: 1;
  }
  .infos {
    grid-column: 5/ -1;
    text-align: right;
    grid-row: 1;
  }

  .infos.left {
    grid-column: 1 /-1;
    text-align: left;
    grid-row: 1;
    display: block;
  }
  .description {
    width: 40vw;
  }
  .tags {
    width: 50vw;
    justify-content: flex-end;
  }
  .tags.left {
    text-align: left;
    justify-content: flex-start;
    grid-column: 1 /-1;
  }
  .tags p {
    margin: auto 1rem;
    background-color: var(--second-background);
  }
}
